<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#!/">Universidad App</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li ng-class="mInicio"><a href="#!/"> Inicio </a></li>
				<li ng-class="mProfesores"><a href="#!/profesores">
						Profesores </a></li>
				<li ng-class="mAlumnos"><a href="#!/alumnos"> <i
						class="fa fa-group"></i> Alumnos
				</a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>